* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    max-width: 1440px;
    background-color: #edf2f8;
    max-height: 900px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    background-color: #ffffff;
    width: 1200px;
    height: 45vh;
    display: grid; 
    border-radius: 30px;
    grid-template-columns: 45% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "main txt";    
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    margin-bottom: auto;
}


.drawers {
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    object-fit: fill;
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
}

.text {
    grid-area: txt;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
    justify-self: stretch;
    padding: 50px;
}

h1 {
    color: hsl(217, 19%, 35%);
    font-size: 26px;
}
p {
    color: hsl(214, 17%, 51%);
    padding: 25px 0;
    font-size: 20px;

}

.line {
    display: inline-block;
}

.avatar {
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-right: 20px;
}

.bio {
    display: inline-block;     
    margin-bottom: 60px;
    position: relative;
    bottom: 15px;
    font-size: 1em;
}

.name {
    font-weight: bold;
    font-weight: 700;;
    color: hsl(217, 19%, 35%);
}

button {
    display: block;
    bottom: 25px;
    padding: 19px;
    border-radius: 50%;
    border: none;
    background-color: hsl(214, 17%, 51%);
    margin-left: 20vh;
    color: whitesmoke;
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button > img {
    color: #ffffff;
    width: 20px;
    filter:brightness(400%);
    pointer-events: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    
}

.tooltiptext {
    visibility: hidden;
    width: 280px;
    height: 70px;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    padding: 5px 0;
    border-radius: 14px;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 150%;
    left: 13%;
    margin-left: -130px;
    letter-spacing: 6px;
    color: hsl(212, 23%, 69%);
}

.tooltiptextvisib {
    visibility: visible;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    bottom: 150%;
    left: 13%;
    margin-left: -130px; 
  }

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.tooltiptext > img {
    padding: 15px;
}


.attribution {
    text-align: center;
    position: absolute;
    bottom: 20px;
}

@media screen and (max-width: 375px) {


    main {
        background-color: #ffffff;
        width: 300px;
        height: 530px;
        display: grid; 
        border-radius: 30px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "main-top main-top" 
        "txt-top txt-top";
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 14%;
        margin-bottom: auto;
        overflow: none;
    }
  

    .drawers {
        grid-area: main-top;
        grid-row-start: 1;
        grid-row-end: 1;
        height: auto;
        border-radius: 0;
    }

    .text {
        grid-area: txt-top;
        grid-row-start: 2;
        grid-row-end: 2;
        padding: 15px;
    }

    h1 {
        color: hsl(217, 19%, 35%);
        font-size: 16px;
        
    }
    p {
        color: hsl(214, 17%, 51%);
        padding: 15px 0;
        font-size: 14px;
    }

    .line {
        padding-top: 20px;
    }

    .avatar {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    .bio {
        display: inline-block;     
        position: relative;
        font-size: 12px;
    }
    


    button {
        width: 5vh;
        height: 5vh;
        bottom: 16px;
        padding: 13px;
        margin-left: 40px;
    }

    button > img {
        width: 15px;
    }

    .tooltiptext {
        width: 180px;
        height: 50px;
        font-size: 11px;
    }

    .tooltip .tooltiptext::after {
        
        top: 100%; 
        left: 75%;
        margin-left: -5px;
        border-width: 15px;
        border-style: solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }

    .tooltiptext > img {
        padding: 4px;
    }
    
    .attribution {
        text-align: center;
        position: absolute;
        bottom: 15px;
        font-size: 15px;
    }

}